<ion-view>
    <ion-nav-title>Delivery App - Login</ion-nav-title>
    <ion-content class="padding">
        <ion-item style="border: none !important;">
            <img style="display:block; margin:auto;" width="70%" height="auto" src="../img/logo.png">
        </ion-item>
        <form name="form" ng-submit="login()">
            <div class="list list-inset">
                <h4 class="title">Usuario: </h4>
                <label class="item item-input">
                    <input type="text" name="username" placeholder="Ex: email@user.com" ng-model="user.username" required="required"/>
                </label>
            </div>
            <div class="list list-inset">
                <h4 class="title">Senha: </h4>
                <label class="item item-input">
                    <input type="password" name="password" placeholder="Digite sua senha" ng-model="user.password" required="required"/>
                </label>
            </div>
            <button type="submit" class="button button-full button-assertive">Login</button>
        </form>
    </ion-content>
</ion-view>
