<ion-view>
    <ion-nav-title>Pedido realizado com sucesso</ion-nav-title>
    <div class="bar bar-balanced bar-subheader">
         <h2 class="title ">Total: R$ {{total}},00</h2>
    </div>
    <ion-content class="padding has-subheader">
        <ion-list>
            <ion-item class="item-dark" ng-show="cupom.value != null">
                <strong>Cupom:</strong>
                <span class="badge badge-dark">- R$ {{cupom.value}}</span>
            </ion-item>
            <ion-item ng-repeat="o in items">
                <a class="item item-thumbnail-left">
                    <img src="../../img/logo.png">
                    {{o.name}} :
                <span class="item-note">
                   <h2 class="text-right">Subtotal:</h2>
                </span>
                <div class="row">
                    <div class="col">
                        Qtd: {{o.qtd}}<br>
                        R$ {{o.price}} Un.
                    </div>
                    <span class="item-note">
                         <div class="col">
                            R$ {{o.qtd * o.price}},00
                        </div>
                    </span>
                </div>
                </a>

            </ion-item>

        </ion-list>
        <button type="button" class="button button-royal button-full" ng-click="openListOrder()">
           Ver meus pedidos
        </button>
        <div class="bar ">
            <h2 class="title title-right">Total: R$ {{total}},00</h2>
        </div>

        </ion-content>

    <div class="bar bar-footer bar-positive">
        <a class="button icon-left ion-chevron-left button-clear swiper-button-white" href="#/client/view_products">Back</a>
    </div>
</ion-view>