<ion-view>
    <ion-nav-title>Produto: {{product.name}}</ion-nav-title>
    <div class="bar bar-subheader">
        <button class="button button-icon ion-android-arrow-back" ng-click="returnPage()"></button>
        <h2 class="title ">Detalhes do Produto</h2>
        <button class="button button-icon ion-plus" ng-click="openListProducts()"></button>
    </div>
    <ion-content class="padding has-subheader">
        <div class="lis card">
            <a class="item item-thumbnail-left">
                <img src="../../img/logo.png">
                <h2>{{product.name}}</h2>
                    Qtd: {{product.qtd}}
                <span class="item-note"> R$ {{product.price}} Un.</span>
            <div class="item item-body">
                <h2>Descricao</h2>
                <p>{{product.description}}</p>
            </div>
            </a>
            </div>
            <label class="item item-input">
                <span class="input-label">Quantidade: </span>
                <input type="number" class="form-control" min="1" max="15" placeholder="Forneca a quantidade" ng-model="product.qtd" required/>
            </label>
            <button type="button" class="button button-assertive button-full"  ng-click="updateQtd()">Alterar quantidade</button>

        </div>
    </ion-content>
</ion-view>